$hoverColor: #f7c331;
$highlightColor: #f7882f;

@font-face {
	src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
	font-family:'Compressa VF';
	font-style: normal;
}

@mixin middle-position {
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

.wrapper-map {
    font-family: 'Compressa VF';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 13% 20% 7% 20%;
    
    #map {
        width: 100%;
        transition:  all 0.4s ease-in-out;
    }

    #map path {
        fill: #ccced3;
        transition: .7s;
        cursor: pointer;
        stroke: rgba(255, 255, 255, 0.548);
        stroke-width: 0.4px;
    }

    #map path:hover {
        fill: $hoverColor;
    }
                                                       /*CHANGE STATE*/
    #map .highlight {
        fill: $highlightColor;
        stroke: transparent;
    }
    #map .highlightPlaces {
        fill:#c0c1c7;
    }
}

                                                       /*COUNTRY'S NAME UNDER THE MAP */
#selectedCountry {
    position: absolute;
    bottom: 10px;
    color: #431c5d;
    font-size: 14px;
    letter-spacing: 0.45em;
    @include middle-position;
}
                                                       /*TITLE ABOVE MAP */
#title {
    top: 10px;
    position: absolute;
    z-index: -1;
    height: 200px;
    @include middle-position;

    canvas {
        height: 300px;
    }
}
 
 
 
  