$hoverColor: #f7c331;
$highlightColor: #f7882f;

body {
    font-family:'Compressa VF';
}
@font-face {
	src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
	font-family:'Compressa VF';
	font-style: normal;
}

@mixin middle-position {
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

#wrapperMap {
    font-family: 'Compressa VF';
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

#map {
    width: 100%;
    transition:  all 0.4s ease-in-out;

    & path {
        fill: #ccced3;
        transition: .7s;
        cursor: pointer;
        stroke: rgba(255, 255, 255, 0.548);
        stroke-width: 0.4px;

        &:hover {
            fill: $hoverColor;
        }
    }

        /*CHANGE STATE*/
    & .highlightPlaces {
        fill:#c0c1c7;
    }
    
    & .highlight {
        fill: $highlightColor;
        stroke: transparent;
    }

}


#zoomValue{
    position: absolute;
    right: 100px;
    bottom: 50px;
    color: #431c5d;
    font-size: 14px;
}

                                                       /*COUNTRY'S NAME UNDER THE MAP */
#selectedCountry {
    position: absolute;
    bottom: 10px;
    color: #431c5d;
    font-size: 14px;
    letter-spacing: 0.45em;
    @include middle-position;
}

#zoomValue{
    position: absolute;
    bottom: 10px;
    color: #431c5d;
    font-size: 14px;
    letter-spacing: 0.45em;
    transform: translateY(-50%);

}
                                                       /*TITLE ABOVE MAP */
#title {
    pointer-events: none;
    margin-top: 20px;
    z-index: 0;
    height: 100px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font: 800 2.7rem Montserrat, sans-serif;
    letter-spacing: -0.07ex;
    animation: anim 1.5s infinite alternate ease-in-out;
    
    &::selection {
        background: none;
    }

    span {
        color: #e05915;
        display: inline;
        &::selection {
            background: none;
        }
    }

    @media(min-width: 320px)and (max-width: 993px){
        z-index: 0;
    }

    @media (min-width: 993px){
        position: absolute;
        top: 10px;
    }
}
 
@keyframes anim {
    from {
      text-shadow: 0 0 10px transparent;
    }
    to {
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
  
 
  