@font-face {
	src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
	font-family:'Compressa VF';
	font-style: normal;
}

.wrapper-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 13% 20% 7% 20%;
}

#map {
    width: 100%;
}

#map path {
    fill: #ccced3;
	transition: .7s;
	cursor: pointer;
    stroke: rgba(255, 255, 255, 0.548);
    stroke-width: 0.4px;
}
#map path:hover {
    fill: #f7c331 
}
                                                        /*CHANGE STATE*/
#map .highlight {
    fill: #f7882f;
    stroke: transparent;
}

#selectedCountry {
    position: absolute;
    bottom: 10px;
    left: 50vw;
    color: #431c5d;
    font-family: 'Compressa VF';
    font-size: 14px;
    letter-spacing: 0.75em;
    padding-left: 0.375em;

}