@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

$blur: 20px;
$shadow-opacity: 0.30;
$base: #C8C8A9;
$primary:#cdd422;
$second-color:  #431c5d;
$third-color: #431c5d;
$fourth-color:  #37015c;

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style:none;
}

body {
    overflow: hidden;
    background-color:#e3e0cf;
    background-image: url('./img/3049868.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header{
    display: flex;
}

main {
    position: relative;
    display: flex;
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

#showSideBar{
    width: 30px;
    height: 30px;
    background:#000;
    display: flex;
}
.motto {
    position: absolute;
}

h1 {
    position: absolute;
    top: 0;
	font-family:'Compressa VF';
	text-rendering: optimizeSpeed;
	color: #e05915;
	user-select: none;
	line-height: 0.8em;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
    width: 500px;
}

h1 span {
  font-size: 40px;
	transform: translateY(-10px);
	user-select: none;
}

h1.flex {
	display: flex;
	justify-content: space-between;
}

h1.stroke span {
	position: relative;
	color: #211D26;
	line-height: inherit;
}

h1.stroke span:after {
	content: attr(data-char);
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #FE6730;
	position: absolute;
	left: 0;
	line-height: inherit;
	color: transparent;
	z-index: -1;
}

///////////////////////////////////////MODAL
.pop-up-explanation {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
}

.blur-in {
    transition:  all 0.4s ease-in-out;
    animation: blur 2.9s forwards;
    -webkit-animation: blur 2.9s forwards;
}

.blur-out {
    animation: blur-out 1.5s forwards;
    -webkit-animation: blur-out 1.5s forwards;
}


@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    25% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    50% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    80% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

#modal {
    fill: $primary;
    width: 12%;
    position: relative;
}

.logo {
  fill: $primary;
}

.clip {
  animation: slide 3s infinite;
  -webkit-animation: slide 3s infinite;
}

@keyframes slide {
  from {
    transform: translateY(-135px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-135px);
  }
}
/////////////////////////////////////////////////////////HINT



#hint1, #hint2, #hint3 {
   display: flex;
   flex-direction: column;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 0, 0);
    font-size: 22px;
    z-index: 11;
    line-height: 28px;
}

#hint2 {
    bottom: 15%;
    right: 15%;
}
#hint1{
    right: 100px;
    top: 25%;
    // @media (min-width:1200px){
    //     font-size: 30px;
    // }
}
#hint3 {
    top: 10%;
    left: 80px;
}

.hint1-content, .hint2-content,  .hint3-content  {
    display: flex;
    position: relative;
    .text-hint {
        padding-right: 20px;
    }
    .arrow-hint {
        margin-top: 10px;
        background-image: url('./img/arrow2.svg');
        background-repeat: no-repeat;
        width: 90px;
        height: 120px;
        transform: rotate(100deg);
        -webkit-transform: rotate(100deg);
        -moz-transform: rotate(100deg);
        -ms-transform: rotate(100deg);
        -o-transform: rotate(100deg);
    }

    button{
        position: absolute;
        display: block;
        width: 60px;
        height: 30px;
        top: 40px;
        background: none;
        outline: none;
        color: #000000;
        border: 1px dashed #000000;
        border-radius: 20px;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    button:hover {
        border: 1px solid #e05915;
        color: #e05915;
        transition: all 0.4 ease-in-out;
        
    }
}

.hint2-content {
    position: relative;
    .text-hint {
        padding-top: 50px;
    }

    button{
      top: 120px;
    }

    .arrow-hint {
        margin-top: 10px;
        background-image: url('./img/arrow3.svg');
        background-repeat: no-repeat;
        width: 90px;
        height: 120px;
        transform: rotate(-90deg);
        position: absolute;
        left: -50%;
        top: -40%;
    }  
}



.hint3-content {
    .text-hint {
        padding-top: 50px;
        padding-left: 20px;
        order: 1;
    }

    button{
      top: 170px;
      left: 100px;
    }

    .arrow-hint {
        order: 0;
        margin-top: 10px;
        background-image: url('./img/arrow4.svg');
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }  
}


.blur {
    filter: blur(4px);
    pointer-events: none;
}
 
#mobVersia{
    height: 100vh;
}

#About-open{
    position: absolute;
    top: 55px;
    right: 5px;
    width: 100px;
    justify-content: 25px;
    border:none;
    background:#431c5d;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    opacity: .2;
    font: 400 1rem "Montserrat", sans-serif;
    cursor: pointer;
    z-index: 3;
    transition: all .4s ease-in-out;
    
    &:hover{
        opacity: 1;
        transition: all .4s ease-in-out;
    }
}
