@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style:none;
}

body {
    // background: white;
    overflow: hidden;
    background-color:#e3e0cf;
    // background-image: url('https://image.freepik.com/free-vector/abstract-hand-painted-wedding-invitation-template_23-2148269533.jpg');
    // background-image: url('./img/back.svg');
    background-image: url('./img/3049868.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header{
    display: flex;
}
main {
    display: flex;
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

#showSideBar{
    width: 30px;
    height: 30px;
    background:#000;
    display: flex;
}