@font-face {
    font-family: KairosSans;
    font-display: swap;
    src: url(https://yoksel.github.io/variable-fonts/assets/fonts/KairosSans/KairosSans_Variable.ttf) format("truetype");
}
//font-family: 'Allerta Stencil', sans-serif;


#carousel {
    position: fixed;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Allerta Stencil', sans-serif;
    // font-family: KairosSans;
}
.inner-select-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 55%;
}
span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    text-align: center;
    color: rgb(0, 0, 0);
    transition: height 1s, width 1s, left 1s, margin-top 1s, font-size 0.3s, margin-bottom 1s, line-height 0.3s, background-color 1s;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

$level2-height: 30px;
$level2-width: 50px;
$level2-font: 12px;

$level1-height: 45px;
$level1-width: 70px;
$level1-font: 16px;

$level0-height: 50px;
$level0-width: 90px;
$level0-font: 20px;

.level-2 {
    height: $level2-height;
    width: $level2-width;
    background-color:  rgba(255, 255, 255, 0.192);
    font-size: $level2-font;
}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    background-color: rgba(255, 255, 255, 0.514);
    margin-bottom: 10px;
    font-size: $level1-font;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    font-size: $level0-font;
    background-color: rgba(255, 255, 255, 0.788);
    margin-top: 5px;
    margin-bottom: 5px;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    background-color:  rgba(255, 255, 255, 0.514);
    margin-top: 10px;
    font-size: $level1-font;
}

.level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: rgba(255, 255, 255, 0.192);
    font-size: $level2-font;
}

.left-enter {
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
}
.right-enter {
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
}
.left-enter.left-enter-active {
    opacity: 1;
    height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s;
}
.right-enter.right-enter-active {
    opacity: 1;
    height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-bottom 1s;
}

.left-leave {
    opacity: 1;
    height: $level2-height;
    width: $level2-width; 
}
.right-leave {
    height: $level2-height;
    opacity: 1;
    width: $level2-width;
}
.left-leave.left-leave-active {
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s;
}

.right-leave.right-leave-active {
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-bottom 1s,;
}

///////////////////////////////////////////////////////////////////////TEXT ANIMATION

.wrapper {
text-align: center;
}

.example {
    position: relative;
    // font-family: KairosSans;
    font-size: 25px;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    // animation: fontVariations 8s infinite;
    // -webkit-animation: fontVariations 8s infinite;
}

@keyframes fontVariations {

25% {
    color: rgb(94, 205, 50);
}
50% {
    color: #f79533;
    font-variation-settings: "ital" 0, "wght" 900, "wdth" 110;
}
75% {
    color: rgb(50, 91, 205);
    }
100% {
    color: rgb(200, 50, 205);
}
}


///////////////////////////////////////////////////////////////////////ARROW ANIMATION
$ease: cubic-bezier(.2,1,.3,1);
#carousel {
    .arrowMain {
        height: auto;
        overflow: visible;
        polygon, path {
            transition: all 0.5s $ease;
            fill: white;
            stroke: none;
        }
        &:hover polygon, &:hover path {
            transition: all 1s $ease;
            fill: #f79533;    
        }
        &:hover .arrow {
            animation: arrow-anim 2.5s $ease infinite;
        }
        &:hover .arrow-fixed {
            animation: arrow-fixed-anim 2.5s $ease infinite;
        }
    }
}
  
@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
  
@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.arrowMain {
    position: absolute;
    width: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.arrow-top {
    top: 0;
    transform: rotate(270deg);
}
.arrow-bottom {
    bottom: 0;
    transform: rotate(-90deg);
}