.select-wrapper {
    text-transform: uppercase;
    font-size: 20px;
    z-index: 8;
    position: fixed;
    height: 100%;
    background: rgb(43, 42, 42);
    border-left: 1px solid #000;
    right: 0;
}
/* scale + wave */
.select-middle-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.select-middle-wrapper li {
    background: white;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}
@media (min-width: 768px) {
    .select-wrapper {
        width: 50px;
    }
}







// @import url('https://fonts.googleapis.com/css?family=Lobster');

// body {
//     // background-color: #89FAD0;
//     font-family: 'Lobster';
//     margin: 0;
//     padding: 0;
//     // background: black;
// }

// #carousel {
//     position: fixed;
//     right: 10px;
//     top: 0;
//     bottom: 0;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
// span {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     height: 50%;
//     justify-content: center;
// }
// .arrow {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     background-color: rgb(5, 5, 5);
//     text-align: center;
//     font-size: 25px;
//     border-radius: 50%;
//     cursor: pointer;
//     font-size: 25px;
//     color: #228291;
//     line-height: 30px;
//     z-index: 1000;
// }

// .arrow-right {
//     top: 10vw;
// }
// .arrow-left {
//     bottom: 10vw;
// }
// .item {
//     text-align: center;
//     color: rgb(0, 0, 0);
//     transition: height 1.5s, width 1.5s, left 1.5s, margin-top 1.5s, font-size 1.5s, margin-bottom 1.5s, line-height 1.5s, background-color 1.5s;
//     border-radius: 3px;
  
// }

// $level2-height: 30px;
// $level2-width: 50px;
// $level2-font: 12px;

// $level1-height: 45px;
// $level1-width: 70px;
// $level1-font: 16px;

// $level0-height: 50px;
// $level0-width: 90px;
// $level0-font: 20px;

// .level-2 {
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     background-color:  rgba(255, 255, 255, 0.445);
//     font-size: $level2-font;
// }

// .level-1 {
//     height: $level1-height;
//     width: $level1-width;
//     line-height: $level1-height;
//     background-color: rgba(255, 255, 255, 0.753);
//     margin-bottom: 10px;
//     font-size: $level1-font;
// }

// .level0 {
//     height: $level0-height;
//     width: $level0-width;
//     line-height: $level0-height;
//     font-size: $level0-font;
//     background-color: rgb(255, 255, 255);
//     margin-top: 5px;
//     margin-bottom: 5px;
// }

// .level1 {
//     height: $level1-height;
//     width: $level1-width;
//     line-height: $level1-height;
//     background-color:  rgba(255, 255, 255, 0.753);
//     margin-top: 10px;
//     font-size: $level1-font;
// }

// .level2 {
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     background-color: rgba(255, 255, 255, 0.445);
//     font-size: $level2-font;
// }

// .left-enter {
//     opacity: 0;
//     height: $level2-height - 30;
//     width: $level2-width - 20;
//     line-height: $level2-height - 30;
// }
// .right-enter {
//     opacity: 0;
//     height: $level2-height - 30;
//     width: $level2-width - 20;
//     line-height: $level2-height - 30;
// }
// .left-enter.left-enter-active {
//     opacity: 1;
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     transition: left 1.5s, opacity 1.5s, height 1.5s, width 1.5s, margin-top 1.5s, line-height 1.5s;
 
// }
// .right-enter.right-enter-active {
//     opacity: 1;
//     height: $level2-height;
//     line-height: $level2-height;
//     width: $level2-width;
//     transition: left 1.5s, opacity 1.5s, height 1.5s, width 1.5s, margin-bottom 1.5s, line-height 1.5s;
  
// }

// .left-leave {
//     opacity: 1;
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
  
// }
// .right-leave {
//     height: $level2-height;
//     opacity: 1;
//     line-height: $level2-height;
//     width: $level2-width;
// }
// .left-leave.left-leave-active {
//     opacity: 0;
//     height: $level2-height - 30;
//     line-height: $level2-height - 30;
//     width: $level2-width - 20;
//     transition: left 1.5s, opacity 1.5s, height 1.5s, width 1.5s, margin-top 1.5s,  line-height 1.5s;
 
// }

// .right-leave.right-leave-active {
//     opacity: 0;
//     height: $level2-height - 30;
//     width: $level2-width - 20;
//     line-height: $level2-height - 30;
//     transition: left 1.5s, opacity 1.5s, height 1.5s, width 1.5s, margin-bottom 1.5s, line-height 1.5s;
// }
