.sidebar{

  &-wrapper{
    position: absolute;
left: 0;top: 0;
z-index: 10;
  }

  &#sidebar{
    height: 100vh;
    z-index: -1;

    path{
      z-index: 1;
    }
  }
  
  &-content{
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
      left: 0;
      top: 0;
      transition: all .4s ease-in-out;
  

    &.active{
      transition: all .4s ease-in-out;
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
}